.popup{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    /*top: calc(50% - 165px);
    left: calc(50% - 215px);
    padding: 34px 36px 37px 36px;*/
    background-color: rgba(0, 0, 0, 0.15);
}