.popup__button-save{
    max-width: 358px;
    min-height: 50px;
    background-color: black;
    color: #ffff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 18px;
    padding: 0;
}