.page{
    background-color: #000000;
    padding-top: 45px;
    padding-bottom: 60px;
    position: relative;
}
@media screen and (max-width: 540px){
    .page{
        padding-top: 28px;
        padding-bottom: 36px;
    }
}