.profile__info-about{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 16px 0 0 0;
    text-align: left;
}

@media screen and (max-width: 540px){
    .profile__info-about{
        font-size: 14px;
        line-height: 17px;
        margin: 14px 0 0 0;
    }
}