.popup__close{
    position: absolute;
    right: -40px;
    top: -40px;
    padding: 0;
    background: transparent url(../../../images/Close_Icon.svg);
    background-size: cover;
    border: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
}