.elements__like-button-text{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    color: #000000;
    margin: 0;
    text-align: center;
}